The Ascension of Susan/game/saves/
The Ascension of Susan/game/cache/
The Ascension of Susan/log.txt
The Ascension of Susan/errors.txt
The Ascension of Susan/traceback.txt
The Ascension of Susan/.vscode/
The Ascension of Susan/.idea/